<!--<table>
    <thead>
        <tr>
            <th>BeaconId</th>
            <th>TestType</th>
            <th>Score</th>
            <th>Feedback</th>
            <th>Date</th>
            <th>HROM</th>
            <th>Location</th>
            <th>Result</th>
            <th>VacancyID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let score of scores;">
            <td>{{score.BeaconId}}</td>
            <td>{{score.TestType}}</td>
            <td>{{score.Score}}</td>
            <td>{{score.Feedback}}</td>
            <td>{{score.Date}}</td>
            <td>{{score.HROM}}</td>
            <td>{{score.Location}}</td>
            <td>{{score.Result}}</td>
            <td>{{score.VacancyID}}</td>
        </tr>
    </tbody>
</table>-->

<link rel="stylesheet" href="//cdn.webix.com/edge/webix.css" />
<script src="//cdn.webix.com/edge/webix.js"></script>

<div>
    <script>
    var dataset = {{scores}};
        webix.ready(function () {
            debugger;
        webix.ui({
            view: "chart",
            width: 600,
            height: 250,
            type: "line",
            value: "#{{scores.Score}}#",
            item: {
                borderColor: "#1293f8",
                color: "#ffffff"
            },
            line: {
                color: "#1293f8",
                width: 3
            },
            xAxis: {
                template: "#scores.Date#"
            },
            offset: 0,
            yAxis: {
                start: 0,
                end: 100,
                step: 10,
                template: function (obj) {
                    return (obj % 20 ? "" : obj)
                }
            },
            data: scores
        });
        webix.message("DblClick row to edit")
    });
    </script>
</div>